<div class="container">
    <mat-toolbar id="header">
        <div class="description header-item">
            <span>{{house['description']}} sad as esad asd asd asdsadsa dsadas dasd asd asd asd asd </span>
        </div>
        @if(isAdmin){
            <a class="header-item" (click)="deleteListing(house['id'])" class="delete">
                <mat-icon class="icon" fontIcon="delete"></mat-icon>Delete This Listing
            </a>
        }
        @else {
            <a class="header-item" (click)="navToApply(house['address'])" class="apply">
                <mat-icon class="icon" fontIcon="open_in_new"></mat-icon>Apply For This Listing
            </a>
        }
    </mat-toolbar>
    <div class="imgs">
        @for(img of house['imgUrls'];track $index){
            <img [src]="img" alt="img preview" />
        }
    </div>
    <div class="bottom">
        <span class="mat-title-large">{{house['address']}} | ${{house['price']}} sad as esad asd asd asdsadsa dsadas dasd asd asd asd asd</span>
    </div>
</div>