.container {
    max-width: 100%;
}

img {
    border-radius: 8px;
    max-width: 270px; 
    min-height: 270px; 
    margin: 10px;
}

.imgs {
    margin-top: 25px;
}

#header{
    display: flex;
    flex-wrap: wrap;
    white-space: normal;  
    height: auto;
} 

.header-item {
    flex-grow: 1;
    flex-basis: 200;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin-right: 10px;
}

.bottom {
    margin-top: 12px;
}

a {
    color: white;
    cursor: pointer;
}
