app-footer {
    min-height: 24px;
    margin-top: auto;

}


.inner {
    padding-bottom: 36px;
    flex: 1;
    width: 100%;
    margin: 0 auto;
} 

.outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
