<div>
    <div id='myCarousel'class="carousel slide carousel-fade">
      <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            @for (house of slicedHouses; track $index){
              <button type="button" data-bs-target="#myCarousel" [attr.data-bs-slide-to]="$index + 1" [attr.aria-label]="'Slide ' + ($index + 2)"></button>
          } 
      </div>
      <div class="carousel-inner">
        @if(houses.length > 0){
          <div class="carousel-item c-item active">
            @if(houses[0].imgUrls.length){
              <img [src]="houses[0]['imgUrls'][0]" class="d-block w-100 c-img" alt="...">
            }
            <div class="carousel-caption d-none d-md-block">
              <h5>{{houses[0]['address']}}</h5>
              <p>{{houses[0]['description']}} | ${{houses[0]['price']}}</p>
            </div>
          </div>
          @for (house of slicedHouses; track $index) {
            <div class="carousel-item c-item">
              @if(houses[0].imgUrls.length){
                <img [src]="house['imgUrls'][0]" class="d-block w-100 c-img" alt="...">
              }
              <div class="carousel-caption d-none d-md-block">
                <h5>{{house['address']}}</h5>
                <p>{{house['description']}} | ${{house['price']}}</p>
              </div>
            </div>
          }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

