.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .login-form, .create-acc{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
  }

  
  