<div>
    <div class="container">
        <span class="mat-display-small">Login</span>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input
                    matInput
                    formControlName="email"
                    required
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    formControlName="password"
                    required
                    [type]="hide() ? 'password' : 'text'"
                />
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="clickHide()"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button type="submit">Sign In</button>
        </form>
    </div>
</div>