<div>
  <div class="container">
    <mat-toolbar id="header">
        <span class='mat-display-small'>Apply</span>
    </mat-toolbar>
    <form class="form" [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          required
        />
        @if (applicationForm.get('firstName')?.invalid) {
          <mat-error>First Name Required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Middle Name</mat-label>
        <input
          matInput
          formControlName="middleName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          required
        />
        @if (applicationForm.get('lastName')?.invalid) {
          <mat-error>Last Name Required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        @if (applicationForm.get('email')?.hasError('email') && !applicationForm.get('email')?.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (applicationForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <span matTextPrefix>+1 &nbsp;</span>
        <input
          type="tel"
          placeholder="888-888-8888"
          matInput
          formControlName="number"
          required
        />
        @if (applicationForm.get('number')?.invalid) {
          <mat-error>Phone Number Required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>House Address</mat-label>
        <mat-select formControlName="houseAddress" [(value)]="selectedAddress" required>
          @for(house of houses; track house.id) {
            <mat-option [value]="house['address']">{{house['address']}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="loading">Submit</button>
      @if(loading) {
        <mat-spinner></mat-spinner>
      }
    </form>
  </div>
</div>
