<div class="container">
    <mat-toolbar id="header">
        <div class="left">
            <a id='home' class='mat-title-medium' routerLink="/home">Arsul Corp</a>
        </div>
        <div class="right">
            <button mat-button routerLink="/apply">Apply</button>
            <button mat-button routerLink="/listings">Listings</button>
            <button mat-button>Contact</button>
            <button mat-button>About</button>
            @if(cognitoService.currUser() === null || cognitoService.currUser() === undefined){
                <button mat-flat-button routerLink="/login">Login</button>
            }
            @else if(isAdmin) {
                <button mat-flat-button [mat-menu-trigger-for]="menu">{{cognitoService.currUser()?.name}}</button>
                <mat-menu #menu="matMenu">
                    
                    <button mat-menu-item routerLink="/admin">Applications</button>
                    <button mat-menu-item routerLink='/add-listing'>Add Listing</button>
                    <button mat-menu-item (click)="onLogOut()">Sign out</button>
                    
                </mat-menu>
            }
        </div>  
    </mat-toolbar>
</div>
