<div>
    <div class="container">
        <mat-toolbar id="header">
            <a id='home' class='mat-title-medium' routerLink="/home">Arsul Corp</a>
            <span class="spacer"></span>
            <button mat-button routerLink="/apply">Apply</button>
            <button mat-button>About</button>
            <button mat-button>Contact</button>
            <button mat-button>About</button>
            <button mat-flat-button routerLink="/login">Login</button>
        </mat-toolbar>
    </div>
</div>